* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat';
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 16px;
    height: 100vh;

}

/* -------------------------SETTINGS------------------------------------------ */


.settings {
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    background-color: rgba(0, 0, 0, 0.58);
}

.settings h3 {
    color: white;
    margin-bottom: 24px;
}

.inputSettings {
    width: 150px;

}

.settings label {
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.form label {
    margin-left: -60px;
}

.form-keterangan-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.form-keterangan-desktop label {
    margin-left: -60px;
}

.settings span {
    margin: 12px auto;
    padding: 4px;
}

#reset {
    background-color: red;
    color: white;
    font-weight: bold;
}

#generate {
    background-color: #37AE36;
    color: white;
    font-weight: bold;
}

.settings p {
    color: white;
}

.settings a {
    color: white;
}

.desktop-footer {
    text-align: center;
    font-weight: bold;
    /* background-color: red; */
}

.desktop-footer a {
    text-decoration: none;
    transition: ease-in;


}

.desktop-footer a:hover {
    color: #37AE36;
    text-decoration: underline;

}

.desktop-footer span {
    height: 2px;
    width: 100px;
    background-color: black;

}

/* -------------------------SETTINGS END --------------------------------------- */




/* ---------------------------PUBLIC--------------------------------------------- */
.public {
    height: calc(100vh - 32px);
    width: calc(100vw - 32px);
    font-family: 'Montserrat';
    background-color: #8DB3C6;
    padding: 12px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.logo {
    width: calc(100vw-24px);
    height: calc((100vh-24px)/4);
}

.logo img {
    width: 20%;
}

.judul {
    width: 100%;
    height: calc((100vh-24px)/8);
}

.judul h3 {
    color: white;
    text-align: center;
    margin-bottom: 4px;
}

.data {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc((100vh-24px)/2);
}

.barcode {
    width: 33.3%;
    height: calc(((100vh-24px)/2));
    justify-content: start;
    align-items: center;
    display: flex;
}

.barcode img {
    width: 100%;
    opacity: 1;
}

.div-biodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 66.6%;
    height: 100%;
    gap: 32px;
}

.table-tombol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    width: 100%;
    height: 100%;
}


.table {
    table-layout: fixed;
}

table td {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
}

.pengumuman {
    width: 100%;
    height: 40px;
    background-color: rgb(59, 161, 183);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0px;
    color: white;
    cursor: pointer;
}

.colon {
    margin-right: 4px;
    margin-left: 4px;
    width: 12px;
}

.button {
    width: 100%;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #37AE36;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.button:active {
    background-color: red;
}

.button a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#a {
    text-decoration: none;
    color: rgb(0, 102, 255);
}

/* tidak lolos desktop */
.tidak-lolos-desktop {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.logo-desktop {
    width: 100%;
    height: auto;
}

.logo-desktop img {
    width: 20%;
}

.keterangan-desktop {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.keterangan-desktop h2 {
    text-align: center;
    color: white;
}

.keterangan-desktop p {
    text-align: center;
    color: white;
    font-size: 16px;
    width: 75%;
}

.back-desktop {
    width: 100%;
    height: 45px;
    background-color: rgb(32, 159, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.back-desktop:active {
    background-color: red;
}

.tidak-lolos-mobile {
    display: none;
}

.tidak-lolos-desktop {
    display: none;
}

/* tidak lolos desktop end */


/* ---------------------------PUBLIC END------------------------------------------- */

.public-mobile {
    display: none;
}

.settings-mobile {
    display: none;
}


/* -----------RESPONSIVE MOBILE BREAK POINT ---------*/
@media (max-width: 576px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: white;
        background-image: url(./image/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        z-index: 10;
        padding: 16px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        font-family: 'Montserrat';
    }

    .button:active {
        background-color: red;
    }

    .settings {
        display: none;
    }

    .public {
        display: none;
    }


    /* ---------------------------SETTINGS MOBILE -----------------------------------------------------*/
    .settings-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        align-items: stretch;
        gap: 12px;
        padding: 12px;
        font-family: 'Montserrat';
    }

    .settings-mobile-data {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .settings-mobile-data h3 {
        color: white;
        text-align: center;

    }

    .settings-mobile-data ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .settings-mobile-data li {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    .settings-mobile-data input {
        max-width: 100%;
        width: 200px;
        border: none;
    }

    .settings-mobile-button {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .settings-mobile-button ul {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 16px;
    }


    #mb-gen-btn {
        background-color: #37AE36;
        color: white;
        width: 80px;
        font-weight: bold;
    }

    #mb-res-btn {
        background-color: red;
        color: white;
        width: 80px;
        font-weight: bold;
    }

    .mb-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .mb-form p {
        font-weight: bold;
    }

    .mb-form {
        color: white;
    }

    .form-keterangan-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: white;
    }

    .form-keterangan-mobile label {
        margin-left: -40px;
    }

    .footer {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 48px;
    }

    .footer p,
    a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
    }






    /*------------------------------------------- PUBLIC MOBILE ------------------------------- */
    .public-mobile {
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 12px;
    }

    .public-mobile-logo {
        width: 100%;
    }

    .public-mobile-logo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .public-mobile-judul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .public-mobile-judul h3 {
        text-align: center;
        color: white;
    }

    .public-mobile-data {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .public-mobile-data-barcode {
        background-color: transparent;
        width: 100%;
        height: auto;
    }

    .public-mobile-data-barcode img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .public-mobile-data-biodata {
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }

    #pb-mb-dt-bdt-ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
    }

    .public-mobile-data-biodata li {
        color: white;
        font-size: 14px;
        margin-bottom: 2px;
        list-style: none;
    }

    .public-mobile-data-biodata a {
        color: #90caf9;
    }


    .unduh {
        width: 100%;
        height: auto;
        background-color: #1a3560;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 2px 0;
    }

    .unduh p {
        background-color: transparent;
        color: white;
        width: 100%;
        text-align: center;
        height: auto;
        padding: 12px 8px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .kembali {
        width: 100%;
        height: auto;
        background-color: #4caf50;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 2px 0;
    }

    .kembali p {
        background-color: transparent;
        color: white;
        width: 100%;
        text-align: center;
        height: auto;
        padding: 12px 8px;
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Tidak lulus mobile */
    .tidak-lolos-mobile {
        width: 100%;
        height: 100%;
        padding: 8px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    .logo-mobile {
        width: 100%;
        height: auto;
    }

    .logo-mobile img {
        width: 100%;
    }

    .keterangan-mobile {
        display: flex;
        gap: 16px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .keterangan-mobile h2 {
        text-align: center;
        color: white;
        font-size: 1.3em;
    }

    .keterangan-mobile p {
        text-align: center;
        color: white;
        font-size: 14px;
        width: 100%;
    }

    .back-mobile {
        width: 100%;
        height: 45px;
        background-color: rgb(32, 159, 60);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }

    #nama-tidak-lulusMb {
        text-transform: uppercase;
    }

    .back-mobile:active {
        background-color: red;
    }
}